html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

header {
  border-bottom: 1px solid #ECECEC;
}

.conteiner__header {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .conteiner__header {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner__header {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner__header {
    width: 1200px;
  }
}

.site-nav__link.current {
  color: #2196F3;
}

.site-nav {
  display: flex;
}
@media screen and (max-width: 767px) {
  .site-nav {
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__list {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav__list {
    display: flex;
  }
}

.site-nav__item {
  margin-right: 50px;
}
.site-nav__item:last-child {
  margin-right: 0px;
}

.site-nav__link {
  display: flex;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.site-nav__link:hover, .site-nav__link:focus {
  outline: none;
  color: #2196F3;
}

.contacts {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__item {
    margin-bottom: 10px;
  }
}
.contacts__item:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    margin-right: 30px;
  }
}
.contacts__item:last-child {
  margin-right: 0px;
}

.contacts__link {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts__link:hover, .contacts__link:focus {
  outline: none;
  color: #2196F3;
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.current {
  position: relative;
  color: #2196F3;
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.site-nav__logo {
  display: flex;
  margin-right: auto;
  align-items: center;
  color: #212121;
  font-family: "Raleway", cursive;
  font-weight: 700;
}
@media screen and (min-width: 480px) {
  .site-nav__logo {
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__logo {
    margin-right: 93px;
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav__logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.web {
  color: #2196F3;
}

.footer__logo {
  color: #fff;
  font-family: "Raleway", cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    display: block;
    margin-bottom: 28px;
    line-height: 1.17;
  }
}
@media screen and (max-width: 1199px) {
  .footer__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    display: flex;
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.hero {
  background-color: #2F303A;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img.jpg);
  background-size: cover;
}
@media screen and (min-width: 480px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
  }
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header\ 480@1.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header\ 480@2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header\ 768@1.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Header\ 768@2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img1600px@1.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img1600px@2.jpg);
  }
}
.hero__title {
  max-width: 696px;
  color: #fff;
  margin-bottom: 30px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.66;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.66;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero__button {
  color: #fff;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 1px transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
}

.goal {
  justify-content: space-between;
}
@media screen and (min-width: 480px) {
  .goal {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .goal {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 480px) {
  .goal__item {
    width: 450px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .goal__item:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .goal__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .goal__item {
    width: 270px;
  }
}

.goal__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .goal__icon {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .goal__icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .goal__icon {
    width: 270px;
  }
}

.goal__svg-icon {
  width: 70px;
  height: 70px;
}

.goal__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.section__photo-work {
  padding-top: 0px;
}
@media screen and (max-width: 767px) {
  .section__photo-work {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .section__photo-work {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .section__photo-work {
    display: block;
  }
}

.photo-work__title {
  text-align: center;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.photo-work {
  display: flex;
  justify-content: space-between;
}

.photo-work__item {
  position: relative;
}

.photo-work__text {
  position: absolute;
  bottom: 27px;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.photo-work__item::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 70px;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  background: rgba(47, 48, 58, 0.8);
}

.team-section {
  background-color: #F5F4FA;
}

.team-section__title {
  text-align: center;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  .team-section__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-section__title {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-section__title {
    margin-bottom: 50px;
  }
}

.team-section__list {
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .team-section__list {
    display: block;
  }
}
@media screen and (max-width: 1199px) {
  .team-section__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-section__list {
    display: flex;
  }
}

.team-section__item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .team-section__item {
    width: 450px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .team-section__item:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .team-section__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-section__item {
    width: 270px;
  }
}

.info {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}

.info__name {
  margin-bottom: 10px;
  color: #212121;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

.info__jod {
  margin-bottom: 16px;
  text-align: center;
}

.info__list {
  display: flex;
  justify-content: center;
}

.info__icon {
  height: 20px;
  width: 20px;
  fill: currentColor;
}

.info__link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  color: #AFB1B8;
  cursor: pointer;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info__link-icon:hover, .info__link-icon:focus {
  outline: none;
  background-color: #2196F3;
  color: #fff;
}

.info__item {
  margin-right: 10px;
}
.info__item:last-child {
  margin-right: 0px;
}

.clients {
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.clients__list {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .clients__list {
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    justify-content: space-between;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;
  cursor: pointer;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .clients__link {
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__link:focus, .clients__link:hover {
  color: #2196F3;
  border: 1px solid #2196F3;
}

@media screen and (max-width: 767px) {
  .clients__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (max-width: 1199px) {
  .clients__item {
    width: calc(100% - 90px)/3;
    margin: 15px;
  }
}
.clients__logo {
  fill: currentColor;
  height: 60px;
  width: 106px;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .footer__conteiner {
    width: 480px;
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__conteiner {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__conteiner {
    width: 1200px;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer-for-tablet {
    display: flex;
    align-items: baseline;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .footer__logo-address {
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .footer__logo-address {
    text-align: center;
    width: 231px;
    margin-right: 165px;
    margin-left: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo-address {
    margin-right: 70px;
    width: 231px;
    margin-left: auto;
  }
}

@media screen and (max-width: 1199px) {
  .address__list {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .address__list {
    text-align: left;
  }
}

.address__item {
  color: #fff;
  font-style: normal;
}

.address__link {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.footer__info-text {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 1199px) {
  .footer__info-text {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__info-text {
    text-align: start;
  }
}

.footer__info-list {
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer__info-list {
    justify-content: center;
    margin-bottom: 60px;
  }
}

.footer__info-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__info-link:hover, .footer__info-link:focus {
  outline: none;
  background-color: #2196F3;
  color: #fff;
}

.footer__info-item {
  margin-right: 10px;
}
.footer__info-item:last-child {
  margin-right: 0px;
}

.footer__info-icon {
  height: 20px;
  width: 20px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .footer__connection {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .footer__connection {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__connection {
    margin-left: auto;
  }
}

.connection__text {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 1199px) {
  .connection__text {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .connection__text {
    text-align: start;
  }
}

@media screen and (min-width: 480px) {
  .connection__input-box {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .connection__input-box {
    display: flex;
  }
}

.connection__input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2F303A;
  height: 50px;
  padding: 15px 16px;
  color: #fff;
}
@media screen and (max-width: 1199px) {
  .connection__input {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .connection__input {
    width: 358px;
    margin-bottom: 20px;
    margin-right: 12px;
  }
}

.connection__input:-moz-placeholder-shown {
  padding-left: 12px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.connection__input:-ms-input-placeholder {
  padding-left: 12px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.connection__input:placeholder-shown {
  padding-left: 12px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

@media screen and (max-width: 767px) {
  .connection__button-box {
    text-align: center;
  }
}
.connection__button {
  display: inline-flex;
  align-items: center;
  color: #fff;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 1px transparent;
  border-radius: 4px;
  padding: 10px 32px;
  width: 200px;
}

.connection__send-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.button__product-list {
  display: flex;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .button__product-list {
    flex-wrap: wrap;
    width: 80%;
    margin: -4px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .button__product-list {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .button__product-item {
    margin: 4px;
  }
}
@media screen and (min-width: 768px) {
  .button__product-item {
    margin-right: 8px;
  }
}
@media screen and (min-width: 768px) {
  .button__product-item:last-child {
    margin-right: 0px;
  }
}

.button__product {
  color: #212121;
  background: #F5F4FA;
  cursor: pointer;
  border: 1px transparent;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.button__product:hover, .button__product:focus {
  color: #fff;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.product__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .product__list {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .product__list {
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .product__list {
    margin: 0px;
  }
}

.product__item {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}
@media screen and (min-width: 480px) {
  .product__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .product__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .product__item {
    width: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
.product__item:hover, .product__itemfocus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 767px) {
  .product__item:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .product__item:nth-last-child(-n+3) {
    margin-bottom: 0px;
  }
}
.product__item:hover .product__overlay, .product__itemfocus .product__overlay {
  transform: translateY(0%);
}

.product__thurm {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background: rgba(33, 150, 243, 0.9);
  color: #fff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product__linkhover, .product__linkfocus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__content-text {
  padding: 20px 24px 20px 24px;
}

.product__title {
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product__text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.3);
}

.modal {
  position: absolute;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  background-color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #212121;
  background-color: #fff;
  cursor: pointer;
}
.modal__button-close:hover, .modal__button-close:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196F3;
}

.modal__icon-close {
  fill: currentColor;
}

.forma {
  width: 448px;
}

.form__input {
  width: 100%;
  height: 40px;
  margin: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  font-style: normal;
}

.form__field {
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}
.form__field:focus-within .form__input, .form__field:hover .form__input {
  border: 1px solid #2196F3;
  outline: none;
}
.form__field:focus-within .form__icon-label, .form__field:hover > .form__icon-label {
  color: #2196F3;
}

.form__text {
  width: 100%;
  color: #212121;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}

textarea {
  padding-top: 12px;
  padding-left: 12px;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field-textarea {
  margin-bottom: 20px;
  cursor: pointer;
}
.form__field-textarea:focus-within textarea, .form__field-textarea:hover textarea {
  border: 1px solid #2196F3;
  outline: none;
}

textarea:-moz-placeholder-shown {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:placeholder-shown {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__name-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__button-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__send-button {
  color: #FFFFFF;
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 1px transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
}

.form__contract {
  color: #2196F3;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-left: 5px;
}

/* icon-label */
.form__icon-label {
  position: absolute;
  display: inline-block;
  height: 18px;
  width: 18px;
  bottom: 11px;
  left: 12px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  fill: currentColor;
}

/* checkbox */
.form__checkbox {
  position: absolute;
  --webkit-appearance: none;
  --moz-appearance: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form__new-checkbox {
  display: flex;
  height: 15px;
  width: 16px;
  border: 2px solid #212121;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 7px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__conditions {
  display: flex;
  color: #757575;
  width: 423px;
  margin-bottom: 30px;
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 1199px) {
  .form__conditions {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .form__conditions {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
.form__conditions:focus-within .form__new-checkbox, .form__conditions:hover .form__new-checkbox {
  border: 1px solid #2196F3;
}

.form__checkbox:checked + .form__new-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2196F3;
  background-size: contain;
  border: 0px solid #2196F3;
}

.form__icon-checkbox {
  fill: currentColor;
}

.menu-toggle {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover, .menu-toggle:focus {
  color: #2196F3;
}

.menu-conteiner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  padding: 48px 40px;
  background-color: #fff;
  transform: translateY(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu-conteiner {
    display: none;
  }
}

.menu-conteiner.is-open {
  transform: translateY(0%);
}

.menu-toggle.js-close-menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu__list {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.menu__item {
  margin-bottom: 32px;
}
.menu__item:last-child {
  margin-bottom: 0px;
}

.menu__link {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: #2196F3;
  cursor: pointer;
}

.menu__contacts-soc {
  margin-top: 306px;
}

.menu__contacts {
  margin-bottom: 64px;
}

.menu__contacts-item {
  margin-bottom: 32px;
}
.menu__contacts-item:last-child {
  margin-bottom: 0;
}

.contacts__link-tel {
  color: #2196F3;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.contacts__link-email {
  color: #757575;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.menu__soc-list {
  display: flex;
  width: 100%;
}

.menu__soc-item {
  padding: 0px 10px;
}
.menu__soc-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu__soc-link {
  color: #2196F3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.header__icon {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */