// button
.menu-toggle {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #fff;
    margin-left: auto;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
     @media screen and (min-width: 768px) {
        display: none;
     }

     &:hover, &:focus {
        color: $color-accent;
        }
}
.menu__link.current-menu {
    color: $color-accent;
}

.menu-conteiner {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    
    padding: 48px 40px;
    background-color: $color--accent-text;

    transform: translateY(-1000%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


    @media screen and (max-width: 420px) {
        padding: 20px 20px;
     }
     @media screen and (max-width: 320px) {
        padding: 20px 10px;
     }
    @media screen and (min-width: 768px) {
        display: none;
     }
}
.menu-conteiner.is-open {
    transform: translateY(0%);
}

.menu-toggle.js-close-menu {
    position: absolute;
    top: 10px;
    right: 15px;
}

.menu__list {
    @include general-font (0.02em, 1.18, 40px, 500);

    @media screen and (max-width: 449px) { 
        @include general-font (0.02em, 1.47, 32px, 500);
    }

    @media screen and (max-width: 399px) { 
        @include general-font (0.02em, 1.47, 24px, 500);
    }
}
.menu__item {
    margin-bottom: 32px;

    @media screen and (max-width: 420px) { 
        margin-bottom: 24px;
    }

    &:last-child {
        margin-bottom: 0px;
    }
}
.menu__link {
    color: $color-primary;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: $color-accent;
        cursor: pointer;}
}






.menu__contacts {
    margin-bottom: 64px;

    @media screen and (max-width: 420px) { 
        margin-bottom: 50px;
    }
}
.menu__contacts-item {
    margin-bottom: 32px;

    @media screen and (max-width: 420px) { 
        margin-bottom: 24px;
    }
    &:last-child {
        margin-bottom:0;
    }
}

.contacts__link-tel {
    color: $color-accent;
    @include general-font (0.02em, 1.18, 34px, 500);

    @media screen and (max-width: 449px) { 
        @include general-font (0.02em, 1.43, 28px, 500);
    }

    @media screen and (max-width: 399px) { 
        @include general-font (0.02em, 1.43, 20px, 500);
    }
}
.contacts__link-email{
    color: $color-secondary;
    @include general-font (0.02em, 1.17, 24px, 500);

    @media screen and (max-width: 449px) { 
        @include general-font (0.02em, 1.42, 20px, 500);
    }

    @media screen and (max-width: 399px) { 
        @include general-font (0.02em, 1.42, 16px, 500);
    }
}



.menu__soc-list {
    display: flex;
    // flex-wrap: wrap;
}

.menu__soc-item {
    padding: 0px 10px; 
    &:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);  
    }
    &:first-child {
        padding-left: 0px;
    }
    &:last-child {
        padding-right: 0px;
    }
}
.menu__soc-link {
    color:$color-accent;
    @include general-font (0.02em, 1.22, 18px, 500);

    @media screen and (max-width: 449px) { 
        @include general-font (0.02em, 1.71, 16px, 500);
    }

    @media screen and (max-width: 399px) { 
        @include general-font (0.02em, 1.71, 12px, 500);
    }
}

.header__icon {
    fill: currentColor;
}