.modal {
    position: absolute;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
    background-color: #fff;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    @media screen and (max-width: 1199px) {
        width: 450px;
        height: 609px;
    }
    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }
}
.modal__button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #212121;
    background-color: #fff;
    cursor: pointer;

    &:hover,
    &:focus {
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     color: #2196F3;
    }
   }
   .modal__icon-close {
    fill: currentColor
   }