$color-primary: #212121;
$color-accent: #2196F3;
$color-secondary: #757575;
$color--accent-text: #fff;
$color-background: #2F303A;
$color-background-secondary: #F5F4FA;
$color-icon: #AFB1B8;

$font-primary:'Roboto', sans-serif;
$font-logo: 'Raleway', cursive;